body {
    background-color: #D3D8D9;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    text-align: center;
}

li {
    text-align: center;
    list-style-type: none;
}

form {
    text-align: center;
}

p {
    text-align: center;
}

a {
    color: darkblue;
    font-size: larger;
}


#header-container {
    margin-right: 200px;
    margin-left: 200px;
    background-color: whitesmoke;
    font-size: large;
}
